[package]
name = "__SEKIBAN_PROJECT_KEBAB__-wasm"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
__SEKIBAN_PROJECT_KEBAB__-domain = { path = "../Domain" }
sekiban-core = "=0.1.0"
sekiban-mv = "=0.1.1"
sekiban-wasm = "=0.1.0"
serde_json = "1"
