[package]
name = "__SEKIBAN_PROJECT_KEBAB__-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
sekiban-core = { path = "../vendor/sekiban-core" }
sekiban-mv = { path = "../vendor/sekiban-mv" }
sekiban-wasm = { path = "../vendor/sekiban-wasm" }
sekiban-wasm-domain = { path = "../vendor/domain" }
serde_json = "1"
